<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App Aduanas</title>
</head>
<body>

    <h1>Bienvenido a la aplicacion de Aduanas</h1>

    <form th:action="@{/login}" method="get">
        <p>haz click abajo para iniciar sesión</p>
        <button type="submit">Ir al login</button>
    </form>

    <form>
        <p>si no tienes una cuenta, registrate aquí</p>
        <button type="submit">Registrar</button>
    </form>

</body>
</html>