<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Centro de Ayuda</title>
</head>
<body>

<div id="tituloAyuda">
    <h1>Centro de Ayuda</h1>
</div>

<section id="formulario">
    <h2>¿Como completo el formulario de Ingreso o Salida?</h2>
    <p>
        Primero para poder ingresar a realizar el formulario, debes pasar por un <strong>login</strong>, el cual te pedira tu nombre de usuario y clave unica, <u>esto se hace para tener una mayor seguiridad</u>. Una vez el usuario haga el login, se muestra un formulario con sus datos ya establecidos, para que el formulario se guarde debe seleccionar la fecha de Ingreso al Pais (<u>Ya sea extranjero o residente</u>) y la fecha de Salida, tambien se muestran dos selecciones -que se pueden dejar en blanco- la de si viaja en vehiculo propio o si lleva un menor de edad de acompañante, estas opciones solo son necesarias marcarlas si el usuario las cumple, de no ser así, solo de a Enviar.
    </p>
</section>

<section id="docVehiculo">
    <h2>¿Que documentos debo presentar si viajo en mi vehiculo personal?</h2>

    <p>
        Los documentos que debe ingresar el usuario al formulario son:
        <br>
        <li>Patente</li>
        <li>Marca</li>
        <li>Modelo</li>
        <li>Color</li>
        <li>Pais de Origen</li>
        <br>
        Ya con esos documentos puede completar el formulario si lo requiere
    </p>
</section>

<a href="/home">Volver al Menu</a>


</body>
</html>