<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div id="Aplicacion de Aduanas">
    <h1>App Aduana</h1>
</div>

<form th:action="@{/login-tramite}" mehtod="get">
    <p>Realizar tramite para ingresar/salir del pais</p>
    <button type="submit">Ir al tramite</button>
</form>

<form th:action="@{/centro-ayuda}" method="get">
    <p>Centro de Ayuda</p>
    <button type="submit">Ir a Centro de Ayuda</button>
</form>


</body>
</html>