<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<div class="login-container">
  <h2>Inicio de Sesión</h2>

  <form th:action="@{/login}" method="post">
    <input type="text" name="nombre" th:value="${nombre}" placeholder="Usuario" required />
    <input type="password" name="password" th:value="${password}" placeholder="Contraseña" required />
    <button type="submit">Ingresar</button>
  </form>

  <div th:id="${errorLogin}" class="error">
    <p th:text="${errorLogin}"></p>
  </div>

</div>

</body>
</html>