<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Formulario para Ingreso o Salida del Pais</title>
</head>
<body>

<div id="titulo">
  <h2>Fomulario para Ingreso/Salida</h2>
</div>

<form th:action="@{/tramite}" th:object="${tramiteFormularioSalidaOIngreso}" method="post">

  <input type="hidden" th:field="*{run}">

  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" th:field="*{nombre}" readonly>

  <label for="runUsuario">Run:</label>
  <input type="text" id="runUsuario" th:field="*{usuario.run}" readonly>

  <label for="claveUnica">Clave Unica: </label>
  <input type="text" id="claveUnica" th:field="*{claveUnica}" readonly>

  <label for="nacionalidad">Nacionalidad: </label>
  <input type="text" id="nacionalidad" th:field="*{nacionalidad}" required>

  <label for="fechaIngreso">Fecha de Ingreso:</label>
  <input type="date"
         id="fechaIngreso"
         th:field="*{fechaIngreso}"
         required
         oninvalid="this.setCustomValidity('La fecha de ingreso es obligatoria. Por favor, ingrésala')"
         oninput="this.setCustomValidity('')">

  <label for="fechaSalida">Fecha de Salida :</label>
  <input type="date"
         id="fechaSalida"
         th:field="*{fechaSalida}"
         required
         oninvalid="this.setCustomValidity('La fecha de salida es obligatoria. Por favor, ingrésala')"
         oninput="this.setCustomValidity('')">

  <input type="checkbox" id="vehiculoPropio" th:field="*{vehiculoPropio}" onclick="mostrarOcultar('menuVehiculo', this)">
  <label for="vehiculoPropio">¿Viaja en vehiculo propio?</label>

  <div id="menuVehiculo" style="display: none;">

    <label for="patente">Patente:</label>
    <input type="text" id="patente" th:field="*{vehiculo.patente}">

    <label for="marca">Marca:</label>
    <input type="text" id="marca" th:field="*{vehiculo.marca}">

    <label for="modelo">Modelo:</label>
    <input type="text" id="modelo" th:field="*{vehiculo.modelo}">

    <label for="color">Color:</label>
    <input type="text" id="color" th:field="*{vehiculo.color}">


    <select th:field="*{vehiculo.paisOrigen}">
              th:value="${pais}" th:text="${pais}">
      </option>
    </select>

  </div>

  <input type="hidden" name="viajaConMenor" value="false" />
  <input type="checkbox" id="viajaConMenor" th:field="*{viajaConMenor}" onclick="mostrarOcultar('menuMenor', this)">
  <label>¿Viaja con un menor de edad?</label>

  <div id="menuMenor" style="display: none;">

    <label for="run">Run:</label>
    <input type="text" id="run" th:field="*{menor.run}" pattern="[0-9]{7,8}" inputmode="numeric" maxlength="8" required>

    <label for="dv">Dv:</label>
    <input type="text" id="dv" th:field="*{menor.dv}" maxlength="1">

    <label for="nombreMenor">Nombre del menor:</label>
    <input type="text" id="nombreMenor" th:field="*{menor.nombre}">

    <label for="segundoNombre">Segundo Nombre:</label>
    <input type="text" id="segundoNombre" th:field="*{menor.segundoNombre}">

    <label for="apellidoPaterno">Apellido Paterno:</label>
    <input type="text" id="apellidoPaterno" th:field="*{menor.apellidoPaterno}">

    <label for="apellidoMaterno">Apellido Materno:</label>
    <input type="text" id="apellidoMaterno" th:field="*{menor.apellidoMaterno}">

    <select th:field="*{menor.tipoParentesco}">
              th:value="${parentesco}" th:text="${parentesco}">
      </option>
    </select>

  </div>

  <form th:action="@{/tramite}" method="post">
    <button type="submit">Enviar</button>
  </form>


</form>

<script>
  function mostrarOcultar(id, checkbox) {
  const seccion = document.getElementById(id);
  seccion.style.display = checkbox.checked ? 'block' : 'none';
  }

  window.onload = function () {
      const menorCheck = document.getElementById('viajaConMenor');
      if(menorCheck) {
          mostrarOcultar('menuMenor', menorCheck);
      }

      const vehiculoCheck = document.getElementById('vehiculoPropio');
      if(vehiculoCheck) {
          mostrarOcultar('menuVehiculo', vehiculoCheck);
      }
  };

  function mostrarOcultar(id, checkbox) {
    const seccion = document.getElementById(id);
    const inputs = seccion.querySelectorAll("input, select");
    const mostrar = checkbox.checked;

    seccion.style.display = mostrar ? 'block' : 'none';

    inputs.forEach(input => {
      input.disabled = !mostrar;
    });
  }
</script>


</body>
</html>