<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Formulario para Ingreso o Salida del Pais</title>
</head>
<body>

<div id="titulo">
  <h2>Fomulario para Ingreso/Salida</h2>
</div>

<form th:action="@{/tramite}" th:object="${tramiteFormularioSalidaOIngreso}" method="post">

  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" th:field="*{nombre}" readonly>

  <label for="claveUnica">Clave Unica: </label>
  <input type="text" id="claveUnica" th:field="*{claveUnica}" readonly>

  <label for="nacionalidad">Nacionalidad: </label>
  <input type="text" id="nacionalidad" th:field="*{nacionalidad}">

  <label for="fechaIngreso">Fecha de Ingreso: </label>
  <input type="date" id="fechaIngreso" th:field="*{fechaIngreso}">

  <label for="fechaSalida">Fecha de Salida: </label>
  <input type="date" id="fechaSalida" th:field="*{fechaSalida}">

  <input type="checkbox" id="vehiculoPropio" th:field="*{vehiculoPropio}" onclick="mostrarOcultar('menuVehiculo', this)">
  <label for="vehiculoPropio">¿Viaja en vehiculo propio?</label>

  <div id="menuVehiculo" style="display: none;">

    <label for="patente">Patente:</label>
    <input type="text" id="patente" name="patente">

    <label for="marca">Marca:</label>
    <input type="text" id="marca" name="marca">

    <label for="modelo">Modelo:</label>
    <input type="text" id="modelo" name="modelo">

    <label for="paisOrigen">Pais de origen:</label>
    <input type="text" id="paisOrigen" name="paisOrigen">

  </div>


  <input type="checkbox" id="viajaConMenor" onclick="mostrarOcultar('menuMenor', this)">
  <label>¿Viaja con un menor de edad?</label>

  <div id="menuMenor" style="display: none;">

    <label for="nombreMenor">Nombre del menor:</label>
    <input type="text" id="nombreMenor" name="nombreMenor">

    <label for="parentezo">Parentezco:</label>
    <input type="text" id="parentezo" name="parentezco">

    <label for="run">Run:</label>
    <input type="number" id="run" name="run">

  </div>



</form>

<script>
  function mostrarOcultar(id, checkbox) {
  const seccion = document.getElementById(id);
  seccion.style.display = checkbox.checked ? 'block' : 'none';
  }

  window.onload = function () {
      const menorCheck = document.getElementById('viajaConMenor');
      if(menorCheck) {
          mostrarOcultar('menuMenor', menorCheck);
      }

      const vehiculoCheck = document.getElementById('vehiculoPropio');
      if(vehiculoCheck) {
          mostrarOcultar('menuVehiculo', vehiculoCheck);
      }
  };
</script>


</body>
</html>